/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */

:root{
  --color-str:#EC7600; /* string content */
  --color-keyword:#93C763;
  --color-comment:#66747B;
  --color-type-name:#678CB1;
  --color-lit-value:#FACD22; /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  --color-punctuation:#F1F2F3;
  --color-open-bracket:#660;
  --color-close-bracket:#660;
  /*Markup tags:*/
  --color-tag:#8AC763;
  --color-attribute-name:#E0E2E4;
  --color-attribute-value:#EC7600;
  /*vars and functions:*/
  --color-declaration:purple;
  --color-var-name:#606;
  
  --color-plain-text:#F1F2F3;
}
pre.prettyprint
{
    border: 0px solid #888;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #000;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #555;
    list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #111;
}
@media print
{
  :root{
    --color-str:#060; /* string content */
    --color-keyword:#006;
    --color-comment:#600;
    --color-type-name:#404;
    --color-lit-value:#044; /* a literal value */
    /* punctuation */
    --color-punctuation:#440;
    /*Markup tags:*/
    --color-tag:#006;
    --color-attribute-name:#404;
    --color-attribute-value:#060;
    /*vars and functions:*/
    --color-var-name:#606;
    
    --color-plain-text:#000;
  }
  .kwd{
     font-weight: bold;
  }
  .com{
      font-style: italic;
  }
  .typ{
      font-weight: bold;
  }
  .tag{
      font-weight: bold;
  }
}
